
.player_control {
  margin-top: 5px;
  z-index: 999;

  @include mobileBreakOne {
    margin-top: -55px;
  }

  @include mobileBreakTwo {
    margin-top: 0px;
  }

  @include tablet {
    margin-top: -45px;
  }

  @include desktop {
    margin-top: -95px;
  }
}

.player_control_button {
  outline: none;
  cursor: pointer;
  color: white;
  text-shadow: 1px 1px 0 rgba(50, 50, 50, 0.9);
  width: 125px;
  height: 50px;
  margin: 10px;
  border: 1px solid rgba(50, 50, 50, 0.9);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-radius: 4px 4px 0 0;
  box-shadow: (3px 3px 5px rgba(50, 50, 50, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.7) inset, -1px -1px 2px rgba(255, 255, 255, 0.5) inset);
  transition: all 0.4s;
  animation: btnFade 2.5s ease-in-out infinite alternate;

  @extend %felt;
}

@keyframes btnFade {
  0% {border-bottom-color: rgba(32, 248, 3, 0.9); border-top-color: rgba(32, 248, 3, 0.9)}
  50% {border-bottom-color: rgba(9, 77, 0, 0.9); border-top-color: rgba(9, 77, 0, 0.9)}
  100% {border-bottom-color: rgba(32, 248, 3, 0.9); border-top-color: rgba(32, 248, 3, 0.9)}
}

.player_control_button:hover {
  box-shadow: (6px 6px 9px rgba(50, 50, 50, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.7) inset, -1px -1px 2px rgba(255, 255, 255, 0.5) inset);
}

.player_control_button:disabled {
  color: lightgrey;
  background: grey;
  box-shadow: (3px 3px 5px rgba(50, 50, 50, 0.7), 1px 1px 2px rgba(255, 255, 255, 0.7) inset, -1px -1px 2px rgba(255, 255, 255, 0.5) inset);
  animation: none;
}
