
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-out;
  opacity: 1;
}

.winner_overlay {
  display: none;
  padding: 10px;
  opacity: 0;
  backdrop-filter: blur(2px);
}

.overlay h1 {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 3px 0 rgba(82, 177, 82, 0.5);
  margin: 75px auto 35px;

  @include tablet {
    font-size: 6em;
    margin: 100px auto 50px;
  }
}

.winner_overlay h1 {
  font-size: 1.5em;
  max-width: 275px;

  @include tablet {
    font-size: 2.5em;
    max-width: 500px;
  }

  @include desktop {
    max-width: 1000px;
  }
}

.overlay p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: rgba(82, 177, 82, 0.5);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

  @include tablet {
    font-size: 2em;
  }
}

.winner_overlay .card {
  width: 42px;
  height: 55px;

  @include tablet {
    width: 75px;
    height: 100px;
  }
}

.winner_overlay .card .card-num,
.winner_overlay .card .card-suit {
  font-size: 1em;
  display: block;

  @include tablet {
    font-size: 2em;
    display: inline-block;
  }
}

.winner_overlay .next_hand_button {
  margin: 35px auto;
}

.overlay .start_button {
  margin: 60px auto;

  @include tablet {
    margin: 100px auto;
  }
}

