
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-out;
  opacity: 1;
}

.winner_overlay {
  display: none;
  opacity: 0;
  backdrop-filter: blur(2px);
}

.overlay h1 {
  font-size: 3em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 3px 0 rgba(82, 177, 82, 0.5);
  margin: 75px auto 35px;

  @include tablet {
    font-size: 6em;
    margin: 100px auto 50px;
  }
}

.overlay p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  color: rgba(82, 177, 82, 0.5);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);

  @include tablet {
    font-size: 2em;
  }
}

.overlay .start_button {
  margin: 60px auto;

  @include tablet {
    margin: 100px auto;
  }
}

