.player {
  position: absolute;
  font-family: 'Righteous', cursive;
  color: rgba(245, 245, 245, 0.9);
  text-shadow: 1px 1px 2px rgba(50, 50, 50, 0.9);
  width: 75px;
  height: 125px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(50, 50, 50, 0.5);
  box-shadow: (1px 1px 2px rgba(255, 255, 255, 0.5) inset, -1px -1px 2px rgba(255, 255, 255, 0.5) inset);
  border-radius: 3px;
  transition: all 0.4s ease-out 0.1s;

  @include tablet {
    width: 200px;
    height: 200px;
  }
}

.player_inner_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: rgba(50, 50, 50, 0.0);
  border: 1px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-radius: 3px;
}

.player_btn {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background: black;
  border-radius: 50%;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
}

.hole_cards_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  
}

.hole_cards_containers .card {
  align-self: flex-start;
}

.player_inner_wrapper > * {
  flex: 1 100%;
}

.player p {
  margin: 10px auto;
}

.player_1 {
  bottom: 0px;
  width: 100%;
  height: 225px;

  @include tablet {
    bottom: 140px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }
}

.player_2 {
  left: 0;
  top: 130px;

  @include mobileBreakTwo {
    top: 0;
    left: 50%;
    margin-left: -278px;
  }

  @include tablet {
    top: auto;
    bottom: 170px;
    margin-left: -450px;
    transform: scale(0.98);
  }
}

.player_3 {
  left: 0;
  top: 0;

  @include mobileBreakTwo {
    left: 50%;
    margin-left: -198px;
  }

  @include tablet {
    top: 215px;
    margin-left: -575px;
    transform: scale(0.96);
  }
}

.player_4 {
  top: 0;
  left: 80px;

  @include mobileBreakOne {
    left: 50%;
    margin-left: -118px;
  }

  @include tablet {
    top: 115px;
    margin-left: -340px;
    transform: scale(0.94);
  }
}

.player_5 {
  top: 130px;
  left: 50%;
  margin-left: -37.5px;

  @include mobileBreakOne {
    top: 0;
  }

  @include tablet {
    top: 85px;
    left: 50%;
    margin-left: -100px;
    transform: scale(0.92);
  }
}

.player_6 {
  top: 0;
  right: 80px;

  @include mobileBreakOne {
    right: 50%;
    margin-right: -118px;
  }

  @include tablet {
    top: 115px;
    margin-right: -340px;
    transform: scale(0.94);
  }
}

.player_7 {
  right: 0;
  top: 0;

  @include mobileBreakTwo {
    right: 50%;
    margin-right: -198px;
  }

  @include tablet {
    top: 215px;
    margin-right: -575px;
    transform: scale(0.96);
  }
}

.player_8 {
  right: 0;
  top: 130px;

  @include mobileBreakTwo {
    top: 0;
    right: 50%;
    margin-right: -278px;
  }

  @include tablet {
    top: auto;
    bottom: 170px;
    margin-right: -450px;
    transform: scale(0.98);
  }
}

.actions_on {
  background: rgba(0, 0, 0, 0.7);
  // border-top-color: rgba(194, 6, 6, 0.9);
  // border-right-color: rgba(50, 6, 194, 0.9);
  // border-color: rgba(183, 2, 255, 0.9);
  // border-left-color: rgba(240, 110, 4, 0.9);
  // box-shadow: (2px 2px 5px rgba(178, 3, 247, 0.9) inset, -2px -2px 5px rgba(178, 3, 247, 0.9) inset);
}

.actions_on .player_inner_wrapper {
  // border-bottom-color: rgba(243, 239, 6, 0.9);
  animation: fade 2.5s ease-in-out infinite alternate;
}

@keyframes fade {
  0% {border-bottom-color: rgba(32, 248, 3, 0.9); border-top-color: rgba(32, 248, 3, 0.9)}
  50% {border-bottom-color: rgba(9, 77, 0, 0.9); border-top-color: rgba(9, 77, 0, 0.9)}
  100% {border-bottom-color: rgba(32, 248, 3, 0.9); border-top-color: rgba(32, 248, 3, 0.9)}
}